{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="title">Project {{ 'project.pages.new.header'|trans({}, 'AppBundle') }}</h1>

    {%  if (form is defined) %}
        {{ form_widget(form) }}
    {% endif %}

    <li>
        <a class="btn" href="{{ path('admin_projects') }}">
            Back to list
        </a>
    </li>
{% endblock %}