{% extends ':Admin:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Prossimo <small>Administration section</small></h1>

            <p>You are in administration section of prossimo application</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}
