{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </div>
{% endblock %}