{% extends ':Admin:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Settings <small>Application settings</small></h1>
        </div>
        <!-- /.col-lg-12 -->

        <div class="col-lg-12">
            {% include '::_flash.html.twig' %}
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
